*{
    margin: 0;
    padding: 0;
}
.parent-div{
    width: 96%;
    float: left;
    margin: 20px 2%;
}
.heading-alignment{
    
    float: left;
}
.heading-right-part{
    float: right;
}
.button-prop{
    color: white ;
    background-color: #0F99D6;
    border: none;
    padding: 15px 30px;
}
.search-box{
    padding: 12.5px 0;
    margin-right: 10px;
    
}
.child-div{
    width: 100%;
    float: left;
}
.table-head{
    padding: 10px 10px ;
    width: 100%;
    float: left;
    text-align: center;
}
.track-deco{
    text-decoration: none;
    
}

.Amount{
    text-align: right;
}
.button-delivered{
    border:none;
    background-color:  #2BCB99;
    padding: 5px 10px;
    border-radius: 10px;
}
.image-style{
    width: 20px;
    float: left;  
    border-radius: 40px;
    }
table ,td{
    padding: 20px 0;
}
.text-deco{
    margin-left: 10px;
    float: left;
}
.button-pickup{
    border:none;
    background-color:  #827AFF;
    padding: 5px 10px;
    border-radius: 10px;
}
.button-damage{
    border:none;
    background-color:   #F53F3F;
    padding: 5px 10px;
    border-radius: 10px;
}
.button-intransit{
    border:none;
    background-color: #56B6E4 ;
    padding: 5px 10px;
    border-radius: 10px;
}
tr:nth-child(even){
     background-color:  #F4FBFF;
     
}
.load-more{
    float: left;
    width: 100%;
    text-align: center;
}